/* HEADER */

.homepageheader{

position:sticky;

top:0;

z-index:999;

background:rgba(3,19,15,0.95);

backdrop-filter:blur(10px);

border-bottom:1px solid rgba(0,255,255,0.2);

}


/* NAV */

.home-main-nav{

width:100%;

}


.home-main-nav-inner{

width:min(1320px,95%);

margin:0 auto;

display:flex;

align-items:center;

justify-content:space-between;

height:90px;

position:relative;

}

.home-brand{
  width: 80px;
  height: auto;
}
/* LOGO */

.home-brand img{
width: 100%;
height: 100%;

}


/* CENTER MENU */

.home-nav-links{

position:absolute;

left:50%;

transform:translateX(-50%);

display:flex;

gap:30px;

}


/* LINKS */

.home-nav-links a{

color:#ffffff;

text-decoration:none;

font-size:14px;

font-weight:600;

letter-spacing:0.5px;

transition:0.3s;

}


/* HOVER */

.home-nav-links a:hover{

color:#00cfff;

}


/* RIGHT AREA */

.right-section{

display:flex;

align-items:center;

gap:15px;

}


/* LOGIN BUTTON */

.member-btn{

padding:10px 20px;

border-radius:8px;

text-decoration:none;

color:#fff;

font-weight:600;

background:linear-gradient(45deg,#00cfff,#007bff,#ffcc00);

transition:0.3s;

}


/* BUTTON HOVER */

.member-btn:hover{

background:linear-gradient(45deg,#ffcc00,#00cfff,#007bff);

box-shadow:0px 0px 12px rgba(0,255,255,0.6);

transform:translateY(-2px);

color:white;

}


/* MENU BUTTON */

.menu-toggle{

display:none;

font-size:26px;

color:white;

cursor:pointer;

}



/* MOBILE */

@media(max-width:991px){

.home-nav-links{

position:fixed;

top:90px;

left:0;

width:100%;

background:linear-gradient(180deg,#03130f,#000000);

flex-direction:column;

align-items:center;

gap:20px;

padding:25px 0;

transform:translateY(-150%);

transition:0.4s;

}


.home-nav-links.active{

transform:translateY(0);

}


.menu-toggle{

display:block;

}


.member-btn{

display:none;

}


}


/* SMALL MOBILE */

@media(max-width:575px){

.home-main-nav-inner{

height:70px;

}


.home-brand img{

width:160px;

}


.home-nav-links{

top:70px;

}

}